.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}


.section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  padding: 10px 5px;
}

.subtitle {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 3px;
}

.disabled {
  pointer-events: none; 
  opacity: 0.6;        
}

.btn {
  display: inline-block;
  margin: 0 5px;
}